<div class="modal fade" id="update-homeowner{{id}}" tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateLabel">Update Homeowner Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form class="update-homeowner-form">                 
                      <input type="text" name="" id="id-homewoner-update" class="form-control my-4 py-2" value={{id}}>
                      <input type="text" name="" id="address-homewoner-update" class="form-control my-4 py-2"  value="{{property_address}}">                   
                      <input type="text" name="" id="company-homewoner-update" class="form-control my-4 py-2"  value="{{company_name}}">        
                      <input type="number" name="" id="premium-homewoner-update" class="form-control my-4 py-2" value={{annual_premium}}>
                      <input type="number" name="" id="policy-homewoner-update" class="form-control my-4 py-2"  value={{policy_number}}>
                      <input type="text" name="" id="exp-date-homewoner-update" class="form-control my-4 py-2"  value={{expiration_date}}>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Save changes</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>