<div class="col-md">
      <h3>Update Homeowner Policy</h3>
        <form class="update-homeowner-form">
          <input type="text" name="" id="id-homewoner-update" class="form-control my-4 py-2" value={{id}}>
                      <input type="text" name="" id="address-homewoner-update" class="form-control my-4 py-2"  value="{{property_address}}">                   
                      <input type="text" name="" id="company-homewoner-update" class="form-control my-4 py-2"  value="{{company_name}}">        
                      <input type="number" name="" id="premium-homewoner-update" class="form-control my-4 py-2" value={{annual_premium}}>
                      <input type="number" name="" id="policy-homewoner-update" class="form-control my-4 py-2"  value={{policy_number}}>
                      <input type="text" name="" id="exp-date-homewoner-update" class="form-control my-4 py-2"  value={{expiration_date}}>
          <div class="text-center mt-1">
            <button type="submit" class="btn btn-warning my-1">Add Policy</button><br>
          </div>
        </form>
      </div>