<section class="p-5 min-vh-100">
  <div class="container">
    <h1 class="text-center">The Agents</h1>
    <div class="row d-flex align-items-top justify-content-between g-4 mt-1">
      <div class="col-md">
      <h3>Add New Homeowner Policy</h3>
        <form class="new-homeowner-form">
          <input type="number" name="" id="owner-id-home" class="form-control my-1 py-1" placeholder="Customer ID">
          <input type="text" name="" id="address-home" class="form-control my-1 py-1" placeholder="Address">
          <input type="text" name="" id="company-home" class="form-control my-1 py-1" placeholder="Company Name">
          <input type="number" name="" id="premium-home" class="form-control my-1 py-1" placeholder="Annual Premium">
          <input type="number" name="" id="policy-home" class="form-control my-1 py-1" placeholder="Policy Number">
          <input type="text" name="" id="exp-date-home" class="form-control my-1 py-1" placeholder="Expiration Date (YYYY-MM-DD)">          
          <div class="text-center mt-1">
            <button type="submit" class="btn btn-warning my-1">Add Policy</button><br>
          </div>
        </form>
      </div>
      <div class="col-md">
        <h3>Add New Auto Policy</h3>
          <form class="new-auto-form">
            <input type="number" name="" id="owner-id-auto" class="form-control my-1 py-1" placeholder="Customer ID">
            <input type="text" name="" id="company-auto" class="form-control my-1 py-1" placeholder="Company Name">
            <input type="text" name="" id="vehicle-auto" class="form-control my-1 py-1" placeholder="Vehicle">
            <input type="number" name="" id="premium-auto" class="form-control my-1 py-1" placeholder="Annual Premium">
            <input type="number" name="" id="policy-auto" class="form-control my-1 py-1" placeholder="Policy Number">
            <input type="text" name="" id="exp-date-auto" class="form-control my-1 py-1" placeholder="Expiration Date (YYYY-MM-DD)">            
            <div class="text-center mt-1">
              <button type="submit" class="btn btn-warning my-1">Add Policy</button><br>
            </div>
          </form>
      </div>
    </div>
    {{#each user}}
      <h3 class="mt-5">Customer {{id}}: {{last_name}}, {{first_name}}</h3>
      <div
        class="row d-flex align-items-top justify-content-between g-4 mt-1"
      >
        <div class="col-md">
          <ul class="list-group w-100">
            <div class="title-section h1">
              <i class="bi bi-house-door text-warning"></i>
              <span class="h4 text-secondary">Property Policies</span>
            </div>

            {{#each homeowners_policies as |home|}}
              <li class="list-group-item list-group-item-primary d-flex justify-content-between">
                <div>Policy ID: <span class="text-dark fst-italic">{{id}}</span>
                </div>
                <div>
                  <button value={{id}} class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#update-homeowner{{id}}">Update</button>   
                  <button value={{id}} class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#delete-home{{id}}">Delete</button>                
                </div>
              </li>
              <li class="list-group-item list-group-item-light">Property address:
                <span class="text-dark fst-italic">{{property_address}}</span>
              </li>
              <li class="list-group-item list-group-item-light">Your Policy is with
                <span class="text-dark fst-italic">{{company_name}}</span>
              </li>
              <li class="list-group-item list-group-item-light">Your premium is: $
                <span class="text-dark fst-italic">{{annual_premium}}</span>
              </li>
              <li class="list-group-item list-group-item-light text-decoration-underline">Your policy will expire on:
                <span class="text-danger fst-italic">{{format_date expiration_date}}</span>
              </li>
               <!-- Modal -->
              <div class="modal fade" id="update-homeowner{{id}}" tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateLabel">Update Homeowner Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form class="update-homeowner-form">                 
                      <input type="text" name="" id="id-homewoner-update" class="form-control my-4 py-2" value={{id}}>
                      <input type="text" name="" id="address-homewoner-update" class="form-control my-4 py-2"  value="{{property_address}}">                   
                      <input type="text" name="" id="company-homewoner-update" class="form-control my-4 py-2"  value="{{company_name}}">        
                      <input type="number" name="" id="premium-homewoner-update" class="form-control my-4 py-2" value={{annual_premium}}>
                      <input type="number" name="" id="policy-homewoner-update" class="form-control my-4 py-2"  value={{policy_number}}>
                      <input type="text" name="" id="exp-date-homewoner-update" class="form-control my-4 py-2"  value={{expiration_date}}>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Save changes</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- delete modal -->
              <div class="modal fade" id="delete-home{{id}}" tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateLabel">Delete Policy</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form class="delete-home-form">Are you sure you want to delete the policy?                 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button value={{id}} id="delete-home" type="submit" class="delete-home btn btn-warning my-1">Delete</button>
                      </div>                        
                    </form>
                    </div>
                  </div>
                </div>
              </div>              
            {{/each}}
          </ul>
        </div>
        <div class="col-md">
          <ul class="list-group w-100">
            <div class="title-section h1">
              <i class="bi bi-truck text-warning"></i>
              <span class="h4 text-secondary">Auto Policies</span>
            </div>

            {{#each auto_policies as |auto|}}
              <li class="list-group-item list-group-item-primary d-flex justify-content-between">
                <div>Policy ID:
                  <span class="text-dark fst-italic">{{id}}</span>
                </div>
                <div>
                  <button value={{id}} class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#update-auto{{id}}">Update</button>
                </div>
              </li>
              <li class="list-group-item list-group-item-light">Your auto policy is with:
                <span class="text-dark fst-italic">{{auto.company_name}}</span>
              </li>
              <li class="list-group-item list-group-item-light">Vehicle on policy is:
                <span class="text-dark fst-italic">{{auto.vehicle}}</span>
              </li>
              <li class="list-group-item list-group-item-light">Your premium is: $
                <span class="text-dark fst-italic">{{auto.annual_premium}}</span>
              </li>
              <li class="list-group-item list-group-item-light text-decoration-underline">Your auto policy will expire on:
                <span class="text-danger fst-italic">{{format_date auto.expiration_date}}</span>
              </li> 
              <!-- Modal -->
              <div class="modal fade" id="update-auto{{id}}" tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="updateLabel">Update Homeowner Information</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form class="update-auto-form">                 
                      <input type="text" name="" id="id-auto-update" class="form-control my-4 py-2" value={{id}}>
                      <input type="text" name="" id="vehicle-auto-update" class="form-control my-4 py-2"  value="{{vehicle}}">                   
                      <input type="text" name="" id="company-auto-update" class="form-control my-4 py-2"  value="{{company_name}}">        
                      <input type="number" name="" id="premium-auto-update" class="form-control my-4 py-2" value={{annual_premium}}>
                      <input type="number" name="" id="policy-auto-update" class="form-control my-4 py-2"  value={{policy_number}}>
                      <input type="text" name="" id="exp-date-auto-update" class="form-control my-4 py-2"  value={{expiration_date}}>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button value={{id}} id="delete-auto" type="button" class="delete-auto btn btn-warning my-1">Delete</button>
                        <button type="submit" class="btn btn-warning">Save changes</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>      
            {{/each}}            
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
</section>
<script src="/javascript/newpolicy.js"></script>
<script src="/javascript/updatepolicy.js"></script>
<script src="/javascript/deletepolicy.js"></script>
