<section class="p-5 min-vh-100">
  <div class="container">
    <h3>Welcome {{user.username}}!</h3>
    <div class="row d-flex align-items-center justify-content-between g-4 mt-5">
      <div class="col-md">
        <ul class="list-group list-group-flush w-100">
          <div class="title-section h1">
            <i class="bi bi-house-door"></i>
            <span class="h4">Property Policies</span>
          </div>

          {{#each user.homeowners_policies as |home|}}
            <li class="list-group-item list-group-item-light">Property address:
              {{property_address}}</li>
            <li class="list-group-item list-group-item-light">Your Policy is
              with
              {{home.company_name}}</li>
            <li class="list-group-item list-group-item-light">Your premium is:
              {{home.aunnal_premiun}}</li>
            <li class="list-group-item list-group-item-light">Your policy will
              expire on:
              {{home.expiration_date}}</li>

          {{/each}}

        </ul>
      </div>
      <div class="col-md ">
        <ul class="list-group list-group-flush w-100 ">
          <div class="title-section h1">
            <i class="bi bi-truck"></i>
            <span class="h4">Auto Policies</span>
          </div>

          {{#each user.auto_policies as |auto|}}
            <li class="list-group-item list-group-item-light">Your auto pilocy
              will expire on:
              {{auto.expiration_date}}</li>
            <li class="list-group-item list-group-item-light">Your auto policy
              is with:
              {{auto.company_name}}</li>
            <li class="list-group-item list-group-item-light">Vehicle on policy
              is:
              {{auto.vehicle}}</li>
            <li class="list-group-item list-group-item-light">Your premium is:
              {{auto.aunnal_premiun}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</section>