<section class="p-5 min-vh-100">
    <div class="container mt-3 pt-5">
        <div class="row ">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card border-0 shadow bg-white">
                    <div class="card-body">
                        <div class="h1 text-center">
                            <i class="bi bi-people"></i> <span class="h3">Update Homeowner Policy Information</span>
                        </div>
                        <form class="update-homeowner-form">  
                          <div class="form-group mb-3 mt-4">
                            <label for="policyid">Policy ID:</label>
                            <input type="text" name="" id="id-homewoner-update" class="form-control my-1 py-2" value={{user.id}}>
                          </div>
                          <div class="form-group mb-3">
                            <label for="address">Address:</label>
                            <input type="text" name="" id="address-homewoner-update" class="form-control my-1 py-2"  value="{{user.property_address}}">                  
                          </div>
                          <div class="form-group mb-3">
                            <label for="company">Company:</label>
                            <input type="text" name="" id="company-homewoner-update" class="form-control my-1 py-2"  value="{{user.company_name}}">        
                          </div> 
                          <div class="form-group mb-3">
                            <label for="premium">Premium:</label>
                            <input type="number" name="" id="premium-homewoner-update" class="form-control my-1 py-2" value={{user.annual_premium}}>
                          </div>  
                          <div class="form-group mb-3">
                            <label for="policynumber">Policy #:</label>
                            <input type="number" name="" id="policy-homewoner-update" class="form-control my-1 py-2"  value={{user.policy_number}}>
                          </div> 
                          <div class="form-group mb-3">
                            <label for="experationDate">Exp Date:</label>
                            <input type="text" name="" id="exp-date-homewoner-update" class="form-control my-1 py-2"  value={{format_date user.expiration_date}}>
                          </div>           
                          <div class="form-group mb-3">
                            <label for="owner">Owner ID:</label>
                            <input type="text" name="" id="owner-homewoner-update" class="form-control my-1 py-2"  value={{user.owner_id}}>
                          </div>           
                          <div>
                            <div class ="d-flex align-items-center justify-content-center">
                              <a href="/admin" class="btn btn-dark my-1 py-1">Return</a>
                              <button id="Btn" type="submit" class="btn btn-warning my-1 py-1">Save changes</button>
                            </div>
                          </div>
                        </form>
                    <form class="delete-policy d-flex align-items-top justify-content-center">
                      <button type="submit" class="delete-btn btn btn-danger">Delete</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
</section>
<script src="/javascript/homepolicy.js"></script>
